/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font and typography defaults */
body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #1f2937;

  /* Remove default margin for better looks */
  margin: 0;
}

/* Color variables */
:root {
  --color-brand: oklch(0.4737 0.0783 173.51);
}
